@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #009B4D;
    --secondary-color: #FFCC00;
    --third-color: #FAF5E9;
    --text-color: #333;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    background-image: url('https://images.pexels.com/photos/8273617/pexels-photo-8273617.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


form {
    background-color: var(--third-color);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 90%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 20px 0;
}

button {
    background-color: #FAF5E9;
    border-radius: 5px;
    padding: 2px;
}

button:hover {
    background-color: #FFCC00;
}

/* label {
    display: inline-block;
    width: 15%;
} */ 